

/* Highlighting rules for nav menu items */

.navbar .navbar-nav .active a:focus, 
.navbar .navbar-nav .active a {
    border-bottom: 5px solid purple;
    background-color: white;
    background-image: none;
    color: purple;
    background-repeat: no-repeat;
    box-shadow: none;
}
.navbar-default .navbar-nav > li > a:hover{
    background-color: white;
    background-image: none;
    color: purple;
}

.corner-nav-buttons:hover {
    background-color: purple;
    background-image: none;
    color: white;
}

.navbar-fixed-top {
    border-bottom-width: 0px;
}
.navbar-collapse collapse {
    background-color: white;
}
.container-fluid{
    background-color: white;
}

.navbar-default .navbar-collapse {
    background-color: white;
}

.navbar .navbar-default .navbar-fixed-top {
    background-color: white;
}

.navbar{
    margin-bottom: 0px;
    border-color: white;
}
.navbar-default{
    background-image: none;
    background-color: white;
}
.navbar-default {
    box-shadow: none;
    background-color: white;
    height: 9%;
    padding-right: 15px;
}
.background-image{
    width: 90%;
   height: 90%
}
.navbar-default .navbar-brand{
    color: purple;
}
.navbar-default .navbar-brand:hover{
    color: purple;
    background-color: none;
}

.navbar-default .navbar-nav > li > a {
    color: purple;
    font-weight: 600;
}



.navbar-nav > li > a {
    text-shadow: none;
}

.navbar-brand {
    text-shadow: none;
    color: purple;
    font-weight: 600;
}


.app {
    background-color: white;
    color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    overflow-y: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-control {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-title{
    color: white;
    background-color: purple;
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 42px;
}

.body-content {
    position: absolute;
    top: 10%;
    left: 15px;
    right: 15px;
    bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.corner-nav-buttons {
    background-image: linear-gradient(to top right, orange, hotpink);
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
    color: white;
}

.action-button {
    width: 100%;
    background-image: linear-gradient(to top right, orange, hotpink);
    color: white;
}
    .action-button:hover {
        background-image: none;
        background-color: purple;
        border: 3px solid hotpink;
        color: white;
    }

    .text-muted{
        color: #D9EDF7;
    }

.empty-space10percent {
    height: 10%;
}

.alert-info {
    background-image: none;
}
.alert {
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    border: none;
   height: 90%;
   max-height: 50px;
}

.button-group {
    margin-top: 10px;
}

.btn-default {
    box-shadow: none;
    background-image: none;
}
.btn {
    border-radius: 3px;
}


.map {
    height: 70vw;
    width: 70vw;
    max-width: 600px;
    max-height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.map-buttons{
    margin-top:20px;
}



.modal{
    height: 600px;
      
}

.modal-form-custom{
    width: 40%;
}
.custom-map{
    height: 35vw;
    width: 35vw;
   
    margin-right: 40px;
}